@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Add Engineer</h2>

<h4>Add Engineer to this machine: @Html.DisplayFor(model => model.EngineerName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.EngineerId)

    @Html.Label("Select Machine")
    @Html.DropDownList("MachienId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>