@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Add a new Engineer</h2>


@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.EngineerName)
  @Html.TextBoxFor(model => model.EngineerName)

  @Html.LabelFor(model => model.Age)
  @Html.TextBoxFor(model => model.Age)

  @Html.LabelFor(model => model.PhoneNumber)
  @Html.TextBoxFor(model => model.PhoneNumber)
  
  <button type="submit" class="btn btn-primary" style="width:250px">Add New Engineer</button>
}
<p>@Html.ActionLink("Show all Engineers", "Index")</p>