@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Edit</h2>

<h4>Edit this Engineer: @Html.DisplayFor(model => model.EngineerName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.LabelFor(model => model.EngineerName)
  @Html.TextBoxFor(model => model.EngineerName)

  @Html.LabelFor(model => model.PhoneNumber)
  @Html.TextBoxFor(model => model.PhoneNumber)

  @Html.LabelFor(model => model.Age)
  @Html.TextBoxFor(model => model.Age)

  <input type="submit" value="Save" class = "btn btn-outline-success" />
}<br>
@Html.ActionLink("Back to List", "Index", new { id = Model.EngineerId }, new { @class = "btn btn-outline-info" })