@{
  Layout = "_Layout";
}

@model Factory.Models.Machien
<h4>Add a new machine</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.MachienName)
  @Html.TextBoxFor(model => model.MachienName)

  @Html.Label("Select Engineer")
  @Html.DropDownList("EngineerId", "None")
  <button type="submit" class="btn btn-primary" style="width:250px">Add New Machine</button>
}
<p>@Html.ActionLink("Show all Machiens", "Index")</p>