@{
  Layout = "_Layout";
}

@model Factory.Models.Machien;

<h2>Edit</h2>

<h4>Edit this Machine: @Html.DisplayFor(model => model.MachienName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachienId)

  @Html.LabelFor(model => model.MachienName)
  @Html.EditorFor(model => model.MachienName)

  @Html.Label("Select Engineer")
  @Html.DropDownList("EngineerId")

  <input type="submit" value="Save" class = "btn btn-outline-success" />
}<br>
<p>@Html.ActionLink("Back to Machines", "Index", new {id = 0}, new {@class = "btn btn-outline-success" })</p>